<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <a title="Restart" class="navbar-brand" href="/index.html">
        <img src="/assets/img/specmate_logo_horizontal.png" height="30" class="d-inline-block align-top" alt="Specmate Logo">
    </a>

    <div class="collapse navbar-collapse" id="specmate-navbar">
        <common-controls></common-controls>
        <tool-pallette></tool-pallette>
    </div>
    <span class="navbar-text">
        Version:&nbsp;{{version}}&nbsp;
    </span>
    <span class="navbar-text">
        <operation-monitor></operation-monitor>
    </span>
</nav>