*.class
*.lock
*.bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/*.log
/web/src/css/bootstrap.min.css
/web/src/lib
*.map
/web/src/app/*.js

/web/aot
/web/dist
