*.class
*.lock
*.bin

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/*.log
/web/src/css/bootstrap.min.css
/web/src/lib
*.map
/web/src/app/*.js

/web/aot
/web/dist
bundles/specmate-std-env/workspace/.metadata/.log
bundles/specmate-ui-core/webcontent/COMMITHASH
/cnf/bin/

# maven
ui-tests/target/
ui-tests/pom.xml.tag
ui-tests/pom.xml.releaseBackup
ui-tests/pom.xml.versionsBackup
ui-tests/pom.xml.next
ui-tests/release.properties
ui-tests/dependency-reduced-pom.xml
ui-tests/buildNumber.properties
ui-tests/.mvn/timing.properties
ui-tests/.mvn/wrapper/maven-wrapper.jar
