<div class="card">
  <h5 class="card-header">
    {{'Traces' | translate}}
    <button id="traces-expand-button" type="button" class="btn btn-sm btn-secondary pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i *ngIf="isCollapsed" class="fa fa-angle-double-down"></i><i *ngIf="!isCollapsed" class="fa fa-angle-double-up"></i></button>
    </h5>
  <div class="card-body" [ngbCollapse]="isCollapsed" >
    <ng-template #rt let-r="result">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;<span *ngIf="r.extId">{{r['extId']}}:&nbsp;</span>{{r.name}}
    </ng-template>

    <div class="form-group">
      <label for="reqtypeahead">{{'addARequirement' | translate}}:</label>

      <input #reqtypeahead id="traces-addrequirement-textfield" type="text" class="form-control" editable="false" placeholder="{{'searchRequirements' | translate}}" [ngbTypeahead]="search"
        [resultTemplate]="rt" (selectItem)="selectItem($event, reqtypeahead)" />

      <span *ngIf="searching">{{'searching' | translate}}...</span>
      <div class="invalid-feedback" *ngIf="searchFailed">{{'sorrySuggestionsCouldNotBeLoaded' | translate}}.</div>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let trace of model.tracesTo" class="list-group-item">
        <table style="width:100%">
          <tr>
            <td>
              <tracing-link [traceProxy]="trace"></tracing-link>
            </td>
            <td style="text-align:right">
              <button title="{{'delete' | translate}}" (click)="delete(trace)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </table>
      </li>
    </ul>
  </div>
</div>
