<div *ngIf="requirement">
    <url-breadcrumb [url]="requirement.url"></url-breadcrumb>

    Name: {{requirement.name}}

    <h1>Cause-Effect Models</h1>
    <div *ngFor="let model of requirement.contents">
        <a [routerLink]="['..', model.url, 'ceg']">
            <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;{{model.name}}
        </a>
    </div>
    <a class="btn btn-outline-primary" [routerLink]="['new-ceg']">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add CEG Model
    </a>
</div>