<div *ngIf="requirement && contents">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{requirement.name}}</h4>
                    <p class="card-text">{{requirement.description}}</p>
                </div>
            </div>
            <div class="card second">
                <div class="card-block">
                    <h4 class="card-title">Cause-Effect Models</h4>
                    <small *ngIf="contents.length == 0" class="text-muted">
                        No models found...
                    </small>
                </div>
                <ul *ngIf="contents && contents.length > 0" class="list-group list-group-flush">
                    <li *ngFor="let model of contents" class="list-group-item">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <a [routerLink]="['..', model.url, 'ceg']">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;{{model.name}}
                                    </a>
                                    &nbsp;
                                    <small class="text-muted">{{model.description | truncate: 60}}</small>
                                </td>
                                <td style="text-align:right">
                                    <button (click)="createTestSpecification(model)" class="btn btn-outline-primary"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Generate Test Specification</button>
                                    <button (click)="delete(model)" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <div class="card-block">
                    <button *ngIf="contents" (click)="createModel()" class="btn btn-outline-primary">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add CEG Model
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Status: {{requirement.status}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Number of Tests: {{requirement.numberOfTests}}</li>
                    <li class="list-group-item">Test Acceptance Criteria: {{requirement.tac}}</li>
                </ul>
            </div>
            <div class="card second">
                <div class="card-block">
                    <h4 class="card-title">Responsibilities</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Unit: {{requirement.implementingUnit}}</li>
                    <li class="list-group-item">IT Team: {{requirement.implementingITTeam}}</li>
                    <li class="list-group-item">BO Team: {{requirement.implementingBOTeam}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>