<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="specmate-model-gen"
      version="1.0.0"
      provider-name="%providerName"
      class="com.specmate.model.provider.SpecmateEditPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
      <import plugin="org.eclipse.emf.cdo" export="true"/>
      <import plugin="org.eclipse.emf.edit" export="true"/>
   </requires>

   <runtime>
      <library name="specmate-model-gen.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://specmate.com/20151203_01/model/"
            class="com.specmate.model.ModelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://specmate.com/20141024_01/model/basemodel"
            class="com.specmate.model.basemodel.BasemodelPackage"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://specmate.com/20151203_01/model/"
            class="com.specmate.model.provider.ModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemColorProvider"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://specmate.com/20141024_01/model/basemodel"
            class="com.specmate.model.basemodel.provider.BasemodelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemColorProvider"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated user -->
      <package
            uri="http://specmate.com/20180412/model/user"
            class="com.specmate.usermodel.UsermodelPackage"/>
   </extension>

</plugin>
