element-tree {
    white-space: nowrap;
}

li {
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
}

i {
    width: 18px;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    padding: 0 0 0 16px;
}

.scroll-anchor {
    margin-top: -10px;
    height: 0;
    padding-bottom: 10px;
}

button {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    margin-left: -10px;
}

button.expand:focus {
    padding: 2px 6px 2px 6px;
}

.treeLink {
    padding: 5px;
    margin-left: -10px;
}