<li *ngIf="element && showElement">
    <span>
        <span [style.visibility]="canExpand ? 'visible' : 'hidden'">
            <i *ngIf="!expanded" (click)="toggle()" class="fa fa-plus-square-o" aria-hidden="true"></i>
            <i *ngIf="expanded" (click)="toggle()" class="fa fa-minus-square-o" aria-hidden="true"></i>
        </span>
      
        <span *ngIf="isFolderNode" (click)="toggle()" title="{{element.name}}">
            <icon-selector [model]="element" [expanded]="expanded && withExpand"></icon-selector><a>{{element.name}}</a>
        </span>

         <a *ngIf="!isFolderNode" [navigationTarget]="element" [class.selected]="isActive">
            <icon-selector [model]="element" [expanded]="expanded && withExpand"></icon-selector>&nbsp;{{element['extId'] ? element['extId'] + ': ' : ''}}{{element.name}}
        </a>
    </span>
   
    <ul *ngIf="expanded && canExpand">
        <element-tree *ngFor="let childElement of contents" [baseUrl]="childElement.url" [parent]="element" [currentElement]="currentElement" [withExpand]="true"></element-tree>
        <li *ngIf="canLoadMore" (click)="loadMore()">
            <button class="btn btn btn-outline-primary btn-sm"><i class="fa fa-ellipsis-v"></i>&nbsp;{{'loadMore' | translate}}</button>
        </li>
    </ul>
</li>