element-tree {
    white-space: nowrap;
}

li {
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
}

i {
    width: 18px;
}

a:hover,
a:focus {
    text-decoration: none;
}

.currentTreeElement {
    border-color: #008A2C;
    border-width: 1.5px;
    border-style: dashed;
}

ul {
    padding: 0 0 0 16px;
}