<div class="input-group">
    <input #searchBox class="form-control" type="search" (keyup)="search(searchBox.value)" />
    <div class="input-group-append">
        <span class="input-group-text">
            <i class="fa fa-search"></i>
        </span>
    </div>
</div>
<ul *ngIf="!searchBox.value">
    <element-tree *ngFor="let element of rootElements;" [baseUrl]="element.url" [currentElement]="currentElement" [withExpand]="true"></element-tree>
</ul>
<table class="table" *ngIf="searchBox.value">
    <thead>
        <tr>
            <th scope="col">{{'searchResults' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of searchResults; let i = index;">
            <td>
                <a [navigationTarget]="element" [class.currentTreeElement]="i === searchIndex">
                    <icon-selector [model]="element" expanded="false"></icon-selector>{{element['extId'] ? element['extId'] + ': ' : ''}}{{element.name}}
                </a>
            </td>
        </tr>
    </tbody>
</table>
