<div *ngIf="requirement && contents">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'GeneralInformation' | translate}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="data-item-title">{{'Title' | translate}}:</span>&nbsp;{{requirement.name}}</li>
                    <li class="list-group-item"><span class="data-item-title">{{'Status' | translate}}:</span>&nbsp;{{requirement.status}}</li>
                    <li class="list-group-item"><span class="data-item-title">{{'RequirementID' | translate}}:</span>&nbsp;{{requirement.extId}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'Responsibilities' | translate}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="data-item-title">{{'ImplementingUnit' | translate}}:</span>&nbsp;{{requirement.implementingUnit}}</li>
                    <li class="list-group-item"><span class="data-item-title">{{'ImplementingBO-team' | translate}}:</span>&nbsp;{{requirement.implementingBOTeam}}</li>
                    <li class="list-group-item"><span class="data-item-title">{{'ImplementingIT-team' | translate}}:</span>&nbsp;{{requirement.implementingITTeam}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'Details' | translate}}</h5>
                <div class="card-body">
                    <p class="card-text line-breaks-visible"><span class="data-item-title">{{'Description' | translate}}:</span>&nbsp;{{requirement.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'TestandRelease' | translate}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="data-item-title">{{'NumberOfTestCases' | translate}}:</span>&nbsp;{{requirement.numberOfTests}}</li>
                </ul>
                <div class="card-body">
                    <p class="card-text line-breaks-visible"><span class="data-item-title">{{'TestAcceptanceCriteria' | translate}}:</span>&nbsp;{{requirement.tac}}</p>
                </div>
            </div>
        </div>
    </div>
     <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'RelatedRequirements' | translate}}</h5>
                <div *ngIf="relatedRequirements && relatedRequirements.length == 0" class="card-body">
                    <small class="text-muted">
                        {{'noRelatedRequirements' | translate}}
                    </small>
                </div>
                <ul *ngIf="relatedRequirements && relatedRequirements.length > 0" class="list-group list-group-flush">
                    <li *ngFor="let related of relatedRequirements" class="list-group-item">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <a [navigationTarget]="related">
                                       <icon-selector [model]="related"></icon-selector>&nbsp;{{related.name}}
                                    </a>
                                    &nbsp;
                                    <small class="text-muted">{{related.description | truncate: 60}}</small>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'Cause-EffectModels' | translate}}</h5>
                <div *ngIf="cegModels.length == 0" class="card-body">
                    <small class="text-muted">
                        {{'noModelsFound' | translate}}...
                    </small>
                </div>
                <ul *ngIf="contents && contents.length > 0" class="list-group list-group-flush">
                    <li *ngFor="let model of cegModels" class="list-group-item">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <a [navigationTarget]="model">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;{{model.name}}
                                    </a>
                                    &nbsp;
                                    <small class="text-muted">{{model.description | truncate: 60}}</small>
                                </td>
                                <td style="text-align:right">
                                    <test-specification-generator-button [model]="model"></test-specification-generator-button>
                                    <button title="Delete" (click)="delete(model)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <div class="card-body">
                    <button *ngIf="contents" title="Create model" (click)="createModel()" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'ProcessModels' | translate}}</h5>
                <div *ngIf="processModels.length == 0" class="card-body">
                    <small class="text-muted">
                        {{'noProcessesFound' | translate}}...
                    </small>
                </div>
                <ul *ngIf="contents && contents.length > 0" class="list-group list-group-flush">
                    <li *ngFor="let process of processModels" class="list-group-item">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <a [navigationTarget]="process">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;{{process.name}}
                                    </a>
                                    &nbsp;
                                    <small class="text-muted">{{process.description | truncate: 60}}</small>
                                </td>
                                <td style="text-align:right">
                                    <test-specification-generator-button [model]="process"></test-specification-generator-button>
                                    <button title="Delete" (click)="delete(process)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <div class="card-body">
                    <button *ngIf="contents" title="Create process" (click)="createProcess()" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'TestSpecifications' | translate}}</h5>
                <div *ngIf="testSpecifications && testSpecifications.length == 0" class="card-body">
                    <small class="text-muted">
                        {{'noTestSpecifications' | translate}}
                    </small>
                </div>
                <ul *ngIf="testSpecifications && testSpecifications.length > 0" class="list-group list-group-flush">
                    <li *ngFor="let testSpec of testSpecifications" class="list-group-item">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <a [navigationTarget]="testSpec">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;{{testSpec.name}}
                                    </a>
                                    &nbsp;
                                    <small class="text-muted">{{testSpec.description | truncate: 60}}</small>
                                </td>
                                <td style="text-align:right">
                                    <button (click)="delete(testSpec)" title="Delete" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <div class="card-body">
                    <button *ngIf="contents" title="Create test specification" (click)="createTestSpecification()" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>