<div *ngIf="requirement && contents">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'GeneralInformation' | translate}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="data-item-title">{{'Title' | translate}}:</span>&nbsp;{{requirement.name}}</li>
                    <li class="list-group-item">
                        <span class="data-item-title">{{'Status' | translate}}:</span>&nbsp;{{requirement.status}}</li>
                    <li class="list-group-item">
                        <span class="data-item-title">{{'RequirementID' | translate}}:</span>&nbsp;{{requirement.extId}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'Responsibilities' | translate}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="data-item-title">{{'Platform' | translate}}:</span>&nbsp;{{requirement.platform}}</li>
                    <li class="list-group-item">
                        <span class="data-item-title">{{'ImplementingUnit' | translate}}:</span>&nbsp;{{requirement.implementingUnit}}</li>
                    <li class="list-group-item">
                        <span class="data-item-title">{{'ImplementingBO-team' | translate}}:</span>&nbsp;{{requirement.implementingBOTeam}}</li>
                    <li class="list-group-item">
                        <span class="data-item-title">{{'ImplementingIT-team' | translate}}:</span>&nbsp;{{requirement.implementingITTeam}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'Details' | translate}}</h5>
                <div class="card-body">
                    <p class="card-text line-breaks-visible"><span class="data-item-title">{{'Description' | translate}}:</span>&nbsp;{{requirement.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">{{'TestandRelease' | translate}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="data-item-title">{{'NumberOfTestCases' | translate}}:</span>&nbsp;{{requirement.numberOfTests}}</li>
                </ul>
                <div class="card-body">
                    <p class="card-text line-breaks-visible"><span class="data-item-title">{{'TestAcceptanceCriteria' | translate}}:</span>&nbsp;{{requirement.tac}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <related-requirements-container [parent]="requirement"></related-requirements-container>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <ceg-model-container [parent]="requirement"></ceg-model-container>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <process-model-container [parent]="requirement"></process-model-container>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <test-specification-container [parent]="requirement"></test-specification-container>
        </div>
    </div>
</div>