<div *ngIf="testSpecification && contents"> 
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{testSpecification.name}}</h4>
                    <p class="card-text">{{testSpecification.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-12">
            <div class="card">
                <table>
                    <tr *ngFor="let testCase of contents | ofType: testCaseType">
                        <td>{{testCase.name}}</td>
                        <td *ngFor="let parameter of contents | ofType: parameterType">
                            {{testCase.parameterAssignment}}
                        </td>
                    </tr>
                
                </table>
            </div>
        </div>
    </div>
</div>