<div *ngIf="testSpecification && contents"> 
    <div class="row second">
        <div class="col-8">
            <generic-form [element]="testSpecification"></generic-form>
        </div>
        <div class="col-4">
            <div *ngIf="requirement" class="card">
                <h4 class="card-header">Links</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="data-item-title">Requirement:</span>&nbsp;<a [routerLink]="['/requirements', { outlets: { main: [requirement.url] } }]">{{requirement.extId}}: {{requirement.name}}</a></li>
                    <li *ngIf="cegModel" class="list-group-item"><span class="data-item-title">CEG Model:</span>&nbsp;<a [routerLink]="['/requirements', { outlets: { main: [cegModel.url,'ceg'] } }]">{{cegModel.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row second">
         <div class="col-12">
            <div class="card">
                <h4 class="card-header">Test Cases</h4>
                <div class="card-block">
                    <div class="test-cases-container">
                        <table class="table table-striped">   
                            <tr><th></th><th></th><th></th><th [attr.colspan]="inputParameters.length + 1">Input</th><th [attr.colspan]="outputParameters.length + 1">Output</th></tr>
                            <tr>
                                <th class="test-case-name-header">Test Case</th>
                                <th><!-- Actions --></th>
                                <th class="test-procedure-header">Test Procedure</th>
                                <th *ngFor="let input of inputParameters"><test-parameter-form [testParameter]="input"></test-parameter-form></th><th><button class="btn btn-outline-primary" (click)="addInputColumn()"><i class="fa fa-plus"></i></button></th>
                                <th *ngFor="let output of outputParameters"><test-parameter-form [testParameter]="output"></test-parameter-form></th><th><button class="btn btn-outline-primary"  (click)="addOutputColumn()"><i class="fa fa-plus"></i></button></th>
                            </tr>
                            <tr test-case-row *ngFor="let testCase of testCases" [testCase]="testCase" [inputParameters]="inputParameters" [outputParameters]="outputParameters"></tr>                          
                            <tr>
                                <td [attr.colspan]="inputParameters.length + outputParameters.length + 3">
                                    <button class="btn btn-outline-primary" (click)="createNewTestCase()"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Create New</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>