.text {
    font-family: 'Roboto', sans-serif;
    fill: #000;
}

.centered {
    text-anchor: middle;
}

.selected {
    fill: rgb(2, 117, 216);
}

.dummy {
    fill: rgba(0, 0, 0, 0);
}