$color-selected: $blue;
$color-selected-dark: $blue;
$color-selected-bright: $blue;

input[type=text]::-ms-clear {
    display: none;
}

button,
.btn {
    cursor: pointer;
}

.btn-sm,
.form-control-sm {
    font-size: 0.9375rem;
}

a {
    color: $blue;
}

a:focus,
a:hover,
a.selected {
    color: $color-selected;
}

a.selected {
    background-color: lighten($color-selected, 0.3);
    color: #fff;
}

.line-breaks-visible {
    white-space: pre-wrap;
}

.second {
    margin-top: 1rem;
}

.card.maximized {
    height: 100%;
}

.data-item-title {
    font-weight: normal;
}

.project-explorer {
    background: #fff;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
}

.content-container {
    padding: 0;
}

.project-explorer-container {
    overflow-x: auto!important;
}

.currentTreeElement {
    border-color: $color-selected;
    border-width: 1.5px;
    border-style: dashed;
}

.specmate-container {
    height: calc(100vh - 64px);
    margin-top: 64px;
}

.dnd-sortable-drag {
    opacity: 0.75;
    transform: translateX(10px);
    transition: 0.15s;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    outline: none;
}


.btn-secondary:focus, .btn-outline-secondary {
    box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.5);
    border: 2px dashed $color-selected-dark;
}

.btn-danger:focus, .btn-outline-danger:focus{
    box-shadow: 0 0 0 0.2rem rgba(224, 43, 11, 0.5);
    border: 2px dashed $color-selected-bright;
}

.brighter-secondary-outline:focus, .brighter-secondary-outline button:focus {
    box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.8);
    border: 2px dashed $color-selected-bright;
}

.brighter-danger-outline:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 100, 100, 0.5);
    border: 2px dashed $color-selected-bright;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
[tabindex]:focus {
    border: 2px dotted $color-selected !important;
}

.badge {
    font-size: 100%;
}