input[type=text]::-ms-clear {
    display: none;
}

button,
.btn {
    cursor: pointer;
}

a {
    color: #007EA8;
}

a:focus,
a:hover,
a.selected {
    color: #008A2C;
}

.line-breaks-visible {
    white-space: pre-wrap;
}

.second {
    margin-top: 1rem;
}

.card.maximized {
    height: 100%;
}

.data-item-title {
    font-weight: normal;
}

.project-explorer {
    background: #fff;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
}

.content-container {
    padding: 0;
}

.project-explorer-container {
    overflow-x: auto!important;
}

.specmate-container {
    height: calc(100vh - 58px);
    margin-top: 58px;
}

.dnd-sortable-drag {
    opacity: 0.75;
    transform: translateX(10px);
    transition: 0.15s;
}

.no-bottom-margin {
    margin-bottom: 0;
}
