<div class="modal-header">
    <h5 class="modal-title">{{'ConfirmationRequired' | translate}}</h5>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-outline-primary" title="{{'ok' | translate}}" (click)="activeModal.close()">{{'ok' | translate}}</button>
    <button *ngIf="withCancel" type="button" class="btn btn-sm btn-outline-danger"  title="{{'cancel' | translate}}" (click)="activeModal.dismiss()">{{'cancel' | translate}}</button>
</div>