.warning-link {
    border: none;
    color: #007EA8;
}

.warning-link:hover {
    text-decoration: underline;
}

th {
    font-weight: normal;
    vertical-align: top;
}

th button {
    white-space:pre-line;
}