<div [formGroup]="form" [ngClass]="{'has-danger': form.controls[meta.name].invalid, 'has-success': form.controls[meta.name].valid}" class="form-group" style="width: 100%">
    <label for="{{'ceg-details-' + meta.name + '-input'}}"><span class="data-item-title">{{meta.shortDesc | translate}}: </span></label>
    <textarea [formControlName]="meta.name" class="form-control form-control-sm" rows="{{meta.rows}}" id="{{'properties-' + meta.name + '-textfield'}}"></textarea>
    <div class="form-control-feedback">
        <span [hidden]="form.controls[meta.name].valid" class="form-text">{{errorMessage}}</span>
        <span [hidden]="!form.controls[meta.name].valid" class="form-text">{{meta.longDesc}}</span>
    </div>
</div>
