.editor {
    overflow: scroll;
    width: 100%;
    height: 100%;
    border: 2px dotted white
}

.editor>svg {
    background-color: #fff;
    min-width: 100%;
    min-height: 100%;
}

.tool-bar {
    height: 50px;
    max-height: 50px;
}

.loading-indicator {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #777;
}

.zoom-indicator {
    width: 60px;
}

button {
    margin-right: 0.2rem;
}