/** This removes Internet Explorers "Clear Field"-Button, which is rendered below the text sometimes. **/
input[type=text]::-ms-clear {
    display:none;
}

button, .btn {
    cursor: pointer;
}

.second {
    margin-top: 1rem;
}

.data-item-title {
    font-weight: bold;
}

.project-explorer {
    height: calc(100% - 55px);
    background: #fff;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .project-explorer {
        height: calc(100% - 129px);
    }
}