<span [formGroup]="formGroup">
    <div class="input-group">
        <textarea formControlName="name" rows="1" type="text" class="form-control form-control-sm parameter-input" (keyup)="autoGrow()" (click)="autoGrow()" #textArea></textarea>
        <div class="input-group-append">
            <button title="Delete parameter" class="btn btn-sm btn-outline-danger" [class.disabled]="!deleteColumnEnabled" (click)="deleteParameter()"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</span>