<ng-container *ngIf="isVisible">
    <td>
        <span dnd-sortable-handle class="text-muted"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </td>
    <td>
        <test-case-name-form [testCase]="testCase"></test-case-name-form>
    </td>
    <td>
        <div class="input-group input-group-sm">
            <button title="{{'delete' | translate}}" class="btn btn-sm btn-outline-danger" (click)="delete()"><i class="fa fa-trash"></i></button>
        </div>
    </td>
    <td>
        <div class="input-group input-group-sm">
            <button *ngIf="!(testProcedure)" title="{{'createTestProcedure' | translate}}" class="btn btn-sm btn-outline-primary"
                (click)="createTestProcedure()"><i class="fa fa-plus"></i>&nbsp;{{'createTestProcedure' | translate}}</button>
            <button *ngIf="testProcedure" [navigationTarget]="testProcedure" class="btn btn-sm btn-outline-primary"><i class="fa fa-list-ol"
                    aria-hidden="true"></i></button>
        </div>
    </td>
    <td *ngFor="let parameter of inputParameters">
        <test-case-condition-form [paramAssignment]="getAssignment(parameter)"></test-case-condition-form>
    </td>
    <td></td>
    <td *ngFor="let parameter of outputParameters">
        <test-case-condition-form [paramAssignment]="getAssignment(parameter)"></test-case-condition-form>
    </td>
    <td></td>
</ng-container>