<ng-container *ngIf="isVisible">
    <td>
        <span dnd-sortable-handle class="text-muted"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </td>
    <td>
        <test-case-name-form [testCase]="testCase"></test-case-name-form>
    </td>
    <td>
        <button title="Delete" class="btn btn-sm btn-outline-danger" (click)="delete()"><i class="fa fa-trash"></i></button>
    </td>
    <td>
        <button *ngIf="!(testProcedure)" title="Create test procedure" class="btn btn-sm btn-outline-primary" (click)="createTestProcedure()"><i class="fa fa-plus"></i></button>
        <button *ngIf="testProcedure" [navigationTarget]="testProcedure" class="btn btn-sm btn-outline-primary"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
    </td>
    <td *ngFor="let parameter of inputParameters">
        <test-case-condition-form [paramAssignment]="getAssignment(parameter)"></test-case-condition-form>
    </td>
    <td></td>
    <td *ngFor="let parameter of outputParameters">
        <test-case-condition-form [paramAssignment]="getAssignment(parameter)"></test-case-condition-form>
    </td>
    <td></td>
</ng-container>