<li *ngIf="element">
    <span *ngIf="isFolderNode">
        <i *ngIf="!expanded" (click)="toggle()" class="fa fa-plus-square-o" aria-hidden="true"></i>
        <i *ngIf="expanded" (click)="toggle()" class="fa fa-minus-square-o" aria-hidden="true"></i>
        <span (click)="toggle()">
            <i class="fa fa-folder" aria-hidden="true" *ngIf="!expanded"></i><i class="fa fa-folder-open" aria-hidden="true" *ngIf="expanded"></i><a title="{{element.name}}" title="{{element.name}}">{{element.name}}</a>
        </span>
    </span>
    <span *ngIf="isRequirementNode">
        <i *ngIf="!expanded" (click)="toggle()" class="fa fa-plus-square-o" aria-hidden="true"></i>
        <i *ngIf="expanded" (click)="toggle()" class="fa fa-minus-square-o" aria-hidden="true"></i>
        <a [navigationTarget]="element" [class.selected]="isActive" title="{{element.name}}">
            <i class="fa fa-file" aria-hidden="true" *ngIf="!expanded"></i><i class="fa fa-file-o" aria-hidden="true" *ngIf="expanded"></i>{{element.extId}}: {{element.name}}
        </a>
    </span>
    <span *ngIf="isCEGModelNode">
        <i *ngIf="!expanded" (click)="toggle()" class="fa fa-plus-square-o" aria-hidden="true"></i>
        <i *ngIf="expanded" (click)="toggle()" class="fa fa-minus-square-o" aria-hidden="true"></i>
        <a [navigationTarget]="element" [class.selected]="isActive" title="{{element.name}}">
            <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;{{element.name}}
        </a>
    </span>
    <span *ngIf="isTestSpecificationNode">
        <a [navigationTarget]="element" [class.selected]="isActive" title="{{element.name}}">
            <i class="fa fa-align-justify" aria-hidden="true" *ngIf="!isGeneratedTestSpecificationNode"></i>
            <i class="fa fa-indent" aria-hidden="true" *ngIf="isGeneratedTestSpecificationNode"></i>
            &nbsp;{{element.name}}
        </a>
    </span>
    <ul *ngIf="expanded && (isFolderNode || isRequirementNode || isCEGModelNode )">
        <element-tree *ngFor="let childElement of contents" [baseUrl]="childElement.url" [parent]="element"></element-tree>
    </ul>
</li>