<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" aria-expanded="false" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/index.html">
        <img src="/assets/specmate_logo_horizontal.png" height="30" class="d-inline-block align-top" alt="Specmate Logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/requirements" href="#">Requirements</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link disabled" routerLink="/tests">Tests</a>
            </li>
        </ul>
        <span class="navbar-text">
            <operation-monitor></operation-monitor>
        </span>
    </div>
</nav>