<ng-container *ngIf="testStep" [formGroup]="formGroup">
    <td>
        <span class="text-muted"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </td>
    <td>{{getPosition(testStep)}}</td>
    <td>
        <input formControlName="description" type="text" class="form-control form-control-sm" />
    </td>
    <td>
        <input formControlName="expectedOutcome" type="text" class="form-control form-control-sm" />
    </td>
    <td>
        <select [(ngModel)]="selectedTestParameter" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                <option [ngValue]="undefined"></option>
                <option *ngFor="let parameter of testParameters" [ngValue]="parameter">{{parameter.name}}</option>
        </select>
    </td>
    <td>
        <button title="Delete" (click)="delete()" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>
</ng-container>