<div class="row">
    <div class="col-12 ">
        <button [ngClass]="{'disabled': !isValid}" (click)="save()" class="btn btn-outline-primary">
            <i class="fa fa-save " aria-hidden="true"></i>&nbsp;Save
        </button>
        
    </div>
</div>
<div *ngIf="testSpecification && contents"> 
    <div class="row second">
        <div class="col-8">
            <div class="card">
                <div class="card-block">
                    <h4>Properties</h4>
                    <generic-form [element]="testSpecification"></generic-form>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-block">
                    <h4>Linked Requirements</h4>
                    <div *ngIf="requirement" class="list-group">
                        <div class="list-group-item"><label>Requirement</label></div>
                        <div  class="list-group-item">
                            <a  [routerLink]="['/requirements', { outlets: { main: [requirement.url] } }]">
                                {{requirement.extId}}: {{requirement.name}}
                                </a>
                        </div>
                    </div>
                    <div *ngIf="cegModel" class="list-group">
                        <div  class="list-group-item"><label>CEG Model</label></div>
                        <div  class="list-group-item">
                            <a  [routerLink]="['/requirements', { outlets: { main: [cegModel.url,'ceg'] } }]">
                                {{cegModel.name}}
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row second">
         <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h4>Test Cases</h4>
                    <table class="table table-striped">   
                        <tr>
                            <th>Test Case</th>
                            <th *ngFor="let parameter of contents | ofType: parameterType">{{parameter.name}}</th>
                        </tr>          
                        <tr test-case-row *ngFor="let testCase of contents | ofType: testCaseType" [testCase]="testCase" [displayParameters]="contents | ofType: parameterType"></tr>                          
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>