.test-cases-container {
    width: 100%;
    overflow: scroll;
}

.test-case-name-header {
    white-space: nowrap;
    min-width: 200px;
}

.test-procedure-header {
    white-space: nowrap;
}

.test-case-row {
    cursor: move;
}