<div *ngIf="testProcedure && contents">
    <div class="row second">
        <div class="col-8">
            <generic-form [element]="testProcedure"></generic-form>
        </div>

        <div class="col-4">
            <div *ngIf="requirement" class="card">
                <h5 class="card-header">Links & Actions</h5>
                <ul class="list-group list-group-flush">
                    <li *ngIf="testSpecification" class="list-group-item"><span class="data-item-title">Test Specification:</span>&nbsp;<a [navigationTarget]="testSpecification">{{testSpecification.name}}</a></li>
                    <li *ngIf="requirement" class="list-group-item"><span class="data-item-title">Requirement:</span>&nbsp;<a [navigationTarget]="requirement">{{requirement.extId}}: {{requirement.name}}</a></li>
                    <li class="list-group-item"><button title="Export to HP ALM" class="btn btn-sm btn-outline-primary" [ngClass]="{'disabled': !isValid}" (click)="pushTestProcedure()"><i class="fa fa-cloud-upload"></i>&nbsp;Export to HP ALM</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row second" *ngIf="testSpecContents">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Parameter Mappings</h5>
                <test-case-parameter-mapping [testCase]="testCase" [testProcedureContents]="contents" [inputParameters]="inputParameters" [outputParameters]="outputParameters"></test-case-parameter-mapping>
            </div>
        </div>
    </div>
    <div class="row second" *ngIf="contents">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Test Steps</h5>
                <div [style.maxHeight.px]="procedureEditorHeight" class="test-steps-container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <!-- Drag handle -->
                                </th>
                                <th>Step</th>
                                <th>Action</th>
                                <th>Expected Outcome</th>
                                <th>
                                    Referenced Parameters
                                </th>
                                <th>
                                    <!-- Delete button -->
                                </th>
                            </tr>
                        </thead>
                        <tbody [dragula]="test-cases-bag" [dragulaModel]="contents">
                            <tr test-step-row class="test-procedure-row" *ngFor="let testStep of sortedContents" [testStep]="testStep" [testSteps]="relevantElements" [testParameters]="allParameters"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button title="Create test step" class="btn btn-sm btn-outline-primary" (click)="createNewTestStep()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>