<div *ngIf="testSpecification && contents"> 
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{testSpecification.name}}</h4>
                    <p class="card-text">{{testSpecification.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col-12">
            <div class="card">
                <table  *ngFor="let testCase of contents | ofType: testCaseType">
                    <tr><td>{{testCase.name}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>