<div> 
    <div class="row second" *ngIf="testProcedure">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h4>Properties</h4>
                    <generic-form [element]="testProcedure"></generic-form>
                </div>
            </div>
        </div>
    </div>

    <div class="row second" *ngIf="testSpecContents">
        <div class="col-12">
             <div class="card">
                <div class="card-block">
                    <h4>Parameter Mappings</h4>
                    <test-case-parameter-mapping 
                        [testCase]="testCase" 
                        [inputParameters]="inputParameters" 
                        [outputParameters]="outputParameters"></test-case-parameter-mapping>
                </div>
            </div>
        </div>
    </div>
    <div class="row second" *ngIf="contents">
         <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <h4>Test Steps</h4>
                    <table class="table table-striped">   
                        <tr>
                            <th>Step Number</th>
                            <th>Action</th>
                            <th>Expected Outcome</th>
                        </tr>
                        <tr *ngFor="let testStep of contents">  
                            <td></td>                        
                            <td>
                                {{testStep.description}}
                            </td>
                            <td>
                                {{testStep.expectedOutcome}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>