<ngb-alert *ngIf="isLoginFailed" [dismissible]="false" class="text-center">
    {{'loginFailed' | translate}}
</ngb-alert>
<ngb-alert *ngIf="isInactivityLoggedOut" [dismissible]="false" class="text-center">
    {{'inactivityLoggedOut' | translate}}
</ngb-alert>
<ngb-alert *ngIf="isErrorLoggedOut" [dismissible]="false" class="text-center">
    {{'errorLoggedOut' | translate}}
</ngb-alert>
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <h1 class="card-title text-center mb-4 mt-1">{{'login' | translate}}</h1>
        <hr>
        <div class="form-group">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input [(ngModel)]="username" id="login-username-textfield" name="" class="form-control form-control-sm" placeholder="{{'username' | translate}}"
                    type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input [(ngModel)]="password" id="login-password-textfield" class="form-control form-control-sm" placeholder="{{'password' | translate}}"
                    type="password">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-briefcase"></i>
                    </span>
                </div>
                <div ngbDropdown class="d-inline-block input-group-append" #projectDropdown>
                    <button class="btn btn-sm btn-outline-primary" id="login-project-dropdown" ngbDropdownToggle>
                        {{project ? project : ('project' | translate)}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="projectDropdown">
                        <button *ngFor="let name of projectnames" id="project-{{name}}" class="dropdown-item" (click)="project = name">{{name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="login-button" title="{{'login' | translate}}" [ngClass]="{'disabled': !canLogin || isAuthenticating, 'waiting': isAuthenticating, 'not-allowed': !canLogin, 'btn-outline-primary': !canLogin, 'btn-primary': canLogin}"
                (click)="authenticate()" class="btn btn-sm">
                <ng-container *ngIf="isAuthenticating">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </ng-container>
                <ng-container *ngIf="!isAuthenticating">
                    <i class="fa fa-sign-in"></i>&nbsp;{{'login' | translate}}
                </ng-container>
            </button>
            <span id="login-language-dropdown" class="pull-right">
                <language-chooser></language-chooser>
            </span>
        </div>
    </div>
    <div class="col-md-5"></div>
</div>