<table class="table table-striped no-bottom-margin">
    <tr>
        <th>{{'InputParameter' | translate}}</th>
        <th>{{'Condition' | translate}}</th>
        <th>{'Value' | translate}}</th>
        <th style="max-width: 200px;">{{'Referenced' | translate}}</th>
    </tr>
    <tr *ngFor="let parameter of inputParameters">
        <td>{{parameter.name}}</td>
        <td>{{getAssignment(parameter).condition}}</td>
        <td>
            <test-case-value-form [paramAssignment]="getAssignment(parameter)"></test-case-value-form>
        </td>
        <td style="max-width: 200px;">
            <span *ngFor="let testStep of referencingTestSteps(parameter)"><span class="badge badge-primary">{{'Step' | translate}} {{getStepNumber(testStep)}}</span> </span>
            <span *ngIf="referencingTestSteps(parameter).length === 0" class="badge badge-danger">{{'unreferenced' | translate}}</span>
        </td>
    </tr>
    <tr>
        <th>{{'OutputParameter' | translate}}</th>
        <th>{{'Condition' | translate}}</th>
        <th>{{'Value' | translate}}</th>
        <th style="max-width: 200px;">{{'Referenced' | translate}}</th>
    </tr>
    <tr *ngFor="let parameter of outputParameters">
        <td>{{parameter.name}}</td>
        <td>{{getAssignment(parameter).condition}}</td>
        <td>
            <test-case-value-form [paramAssignment]="getAssignment(parameter)"></test-case-value-form>
        </td>
        <td style="max-width: 200px;">
            <span *ngFor="let testStep of referencingTestSteps(parameter)"><span class="badge badge-primary">{{'Step' | translate}} {{getStepNumber(testStep)}}</span> </span>
            <span *ngIf="referencingTestSteps(parameter).length === 0" class="badge badge-danger">{{'unreferenced' | translate}}</span>
        </td>
    </tr>
</table>