.editor {
    overflow: scroll;
}

.editor>svg {
    background-color: #fff;
    min-width: 100%;
    min-height: 100%;
}

.editor-maximized {
    height: 100%;
}

.tool-bar {
    height: 50px;
    max-height: 50px;
}

.loading-indicator {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #777;
}

.zoom-indicator {
    width: 60px;
}