.editor {
    overflow: scroll;
}

.editor > svg {
    background-color: #999;
}

.loading-indicator {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #777;
}

.maximized {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    right: 0;
    width: 100%;
    background: #666;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

.maximized-card {
    height: 100%;
}