<div *ngIf="model">
    <url-breadcrumb [url]="model.url"></url-breadcrumb>

    <div class="row">
        <div class="col-12">
            <form [formGroup]="cegForm">
                <div [ngClass]="{'has-danger': cegForm.invalid, 'has-success': cegForm.valid}" class="form-group">
                    <label for="nameInput">Name</label>
                    <input formControlName="name" required [ngClass]="{'form-control-danger': cegForm.controls.name.invalid, 'form-control-success': cegForm.controls.name.valid}" type="text" class="form-control" placeholder="Name" id="nameInput">
                    <div [hidden]="cegForm.controls.name.valid" class="form-control-feedback">
                        <small>
                            A name for the model is required.
                        </small>
                    </div>
                    <small [hidden]="cegForm.controls.name.invalid" class="form-text text-muted">The model's name.</small>
                </div>
                <div class="form-group">
                    <textarea formControlName="description" class="form-control" rows="{{rows}}"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="contents" class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Cause Effect Graph</h4>
                    <button *ngFor="let tool of tools" class="{{'btn btn-outline-' + tool.color}}" [ngClass]="{'active': isActive(tool)}" (click)="activate(tool)">
                        <i class="{{'fa fa-' + tool.icon}}" aria-hidden="true"></i>&nbsp;{{tool.name}}
                    </button>
                </div>
                <div class="editor">
                    <svg (click)="click($event)" width="100%" [attr.height]="editorHeight">
                        <svg:g ceg-graphical-connection *ngFor="let connection of contents | ofType: connectionType" [connection]="connection" [causeNodes]="contents | ofType: causeNodeType"
                            [effectNodes]="contents | ofType: effectNodeType" [nodes]="contents | ofType: nodeType" [selected]="isSelected(connection)"
                            (click)="select(connection)"></svg:g>
                        <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: causeNodeType" [node]="node" [selected]="isSelected(node)"
                            (click)="select(node)" id="{{node.url}}"></svg:g>
                        <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: effectNodeType" [node]="node" [selected]="isSelected(node)"
                            (click)="select(node)" id="{{node.url}}"></svg:g>
                        <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: nodeType" [node]="node" [selected]="isSelected(node)" 
                            (click)="select(node)" id="{{node.url}}"></svg:g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-3">
            <router-outlet name="ceg-node-details"></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-primary" (click)="save()">
                <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save
            </button>
            <button class="btn btn-outline-danger" (click)="close()">
                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close
            </button>
            <button class="btn btn-outline-danger" (click)="discard()">
                <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Discard
            </button>
            <button class="btn btn-outline-danger" (click)="delete()">
                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
            </button>
        </div>
    </div>
</div>
<div *ngIf="!model">
    Loading model...
</div>