/.SpecDSLDescriptionLabelProvider.java._trace
/.SpecDSLDescriptionLabelProvider.xtendbin
/.SpecDSLLabelProvider.java._trace
/.SpecDSLLabelProvider.xtendbin
/SpecDSLDescriptionLabelProvider.java
/SpecDSLLabelProvider.java
