<div *ngIf="contents" class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Cause Effect Graph</h4>
                <button *ngFor="let tool of tools" class="{{'btn btn-outline-' + tool.color}}" [ngClass]="{'active': isActive(tool)}" (click)="activate(tool)">
                    <i class="{{'fa fa-' + tool.icon}}" aria-hidden="true"></i>&nbsp;{{tool.name}}
                </button>
            </div>
            <div class="editor">
                <svg (click)="click($event)" width="100%" [attr.height]="editorHeight">
                    <svg:g ceg-graphical-connection *ngFor="let connection of contents | ofType: connectionType" [connection]="connection" [causeNodes]="contents | ofType: causeNodeType"
                        [effectNodes]="contents | ofType: effectNodeType" [nodes]="contents | ofType: nodeType" [selected]="isSelected(connection)"
                        (click)="select(connection)"></svg:g>
                    <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: causeNodeType" [node]="node" [selected]="isSelected(node)"
                        (click)="select(node)" id="{{node.url}}"></svg:g>
                    <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: effectNodeType" [node]="node" [selected]="isSelected(node)"
                        (click)="select(node)" id="{{node.url}}"></svg:g>
                    <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: nodeType" [node]="node" [selected]="isSelected(node)" 
                        (click)="select(node)" id="{{node.url}}"></svg:g>
                </svg>
            </div>
        </div>
    </div>
    <div class="col-3">
        <ceg-node-details [element]="selectedNode"></ceg-node-details>
    </div>
</div>