<div *ngIf="contents" class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Cause Effect Graph</h4>
                <button *ngFor="let tool of tools" class="{{'btn btn-sm btn-outline-' + tool.color}}" [ngClass]="{'active': isActive(tool)}" (click)="activate(tool)">
                    <i class="{{'fa fa-' + tool.icon}}" aria-hidden="true"></i>&nbsp;{{tool.name}}
                </button>
                <button (click)="delete()" class="btn btn-sm btn-outline-danger pull-right">
                    <i class="fa fa-trash " aria-hidden="true"></i>&nbsp;Clear
                </button>
            </div>
            <div class="editor">
                <div>
                    <svg:svg (click)="click($event)" [attr.width]="editorDimensions.width" [attr.height]="editorDimensions.height" [style.cursor]="cursor">
                        <svg:g ceg-graphical-connection *ngFor="let connection of contents | ofType: connectionType" [connection]="connection" [causeNodes]="contents | ofType: causeNodeType" [effectNodes]="contents | ofType: effectNodeType" [nodes]="contents | ofType: nodeType"
                            [selected]="isSelected(connection)" [valid]="isValidElement(connection)" (click)="select(connection)"></svg:g>

                        <svg:g ceg-graphical-arc *ngFor="let node of contents | ofType: causeNodeType" [connections]="getGraphicalConnections(node)" [type]="node.type"></svg:g>
                        <svg:g ceg-graphical-arc *ngFor="let node of contents | ofType: effectNodeType" [connections]="getGraphicalConnections(node)" [type]="node.type"></svg:g>
                        <svg:g ceg-graphical-arc *ngFor="let node of contents | ofType: nodeType" [connections]="getGraphicalConnections(node)" [type]="node.type"></svg:g>

                        <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: causeNodeType" [node]="node" [selected]="isSelected(node)" [valid]="isValidElement(node)" (click)="select(node)" id="{{node.url}}"></svg:g>
                        <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: effectNodeType" [node]="node" [selected]="isSelected(node)" [valid]="isValidElement(node)" (click)="select(node)" id="{{node.url}}"></svg:g>
                        <svg:g ceg-graphical-node *ngFor="let node of contents | ofType: nodeType" [node]="node" [selected]="isSelected(node)" [valid]="isValidElement(node)" (click)="select(node)" id="{{node.url}}"></svg:g>
                    </svg:svg>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <ceg-node-details *ngFor="let element of contents" [element]="element" [hidden]="element !== selectedNode"></ceg-node-details>
    </div>
</div>