<div *ngIf="model">
    <url-breadcrumb [url]="model.url"></url-breadcrumb>

    <div class="row">
        <div class="col-12">
            <input-form [formModel]="element" [fieldMeta]="fieldMeta"></input-form>
        </div>
    </div>
    <ceg-editor [model]="model" [contents]="contents"></ceg-editor>
</div>
<div class="row">
    <div class="col-12 ">
        <button (click)="save()" class="btn btn-outline-primary">
            <i class="fa fa-save " aria-hidden="true"></i>&nbsp;Save
        </button>
        <button (click)="close()" class="btn btn-outline-danger">
            <i class="fa fa-times " aria-hidden="true"></i>&nbsp;Close
        </button>
        <button (click)="discard()" class="btn btn-outline-danger">
            <i class="fa fa-undo " aria-hidden="true"></i>&nbsp;Discard
        </button>
        <button (click)="delete()" class="btn btn-outline-danger">
            <i class="fa fa-trash " aria-hidden="true"></i>&nbsp;Delete
        </button>
    </div>
</div>
<div *ngIf="!model ">
    Loading model...
</div>