<div class="card">
    <h5 class="card-header">{{'Cause-EffectModels' | translate}}</h5>
    <div *ngIf="contents === undefined" class="card-body">
        <i class="fa fa-spinner fa-pulse fa-fw text-muted"></i>
    </div>
    <div *ngIf="contents && contents.length == 0" class="card-body">
        <span class="text-muted">
            {{'noModelsFound' | translate}}...
        </span>
    </div>
    <ul *ngIf="contents && contents.length > 0" class="list-group list-group-flush">
        <li *ngFor="let element of contents" class="list-group-item">
            <table style="width:100%">
                <tr>
                    <td>
                        <a [navigationTarget]="element">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;{{element.name}}
                        </a>
                        &nbsp;
                        <span class="text-muted">{{element.description | truncate: 60}}</span>
                    </td>
                    <td style="text-align:right">
                        <short-model-error-message-display [model]="element"></short-model-error-message-display>
                        <test-specification-generator-button *ngIf="canGenerateTestSpecification" id="{{element.name + '-generate-testspec-button'}}"
                            [model]="element"></test-specification-generator-button>
                        <button id="{{'requirement-' + element.name + '-copy-button'}}" title="{{'copy' | translate}}"
                            (click)="copy(element)" class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-copy" aria-hidden="true"></i>&nbsp;{{'copy' | translate}}
                        </button>
                        <button id="{{'requirement-' + element.name + '-duplicatemodel-button'}}" title="{{'duplicate' | translate}}"
                            (click)="duplicate(element)" class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-clone" aria-hidden="true"></i>&nbsp;{{'duplicate' | translate}}
                        </button>
                        <button id="{{'requirement-' + element.name + '-deletemodel-button'}}" title="{{'delete' | translate}}"
                            (click)="delete(element)" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
    <div *ngIf="contents" class="card-body">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm">
                    <input type="text" #newNameInput (keyup)="0" class="form-control form-control-sm" placeholder="{{'name' | translate}}" />
                    <div class="input-group-append">
                        <button id="requirement-createprocess-button" title="{{'createModel' | translate}}" (click)="create(newNameInput.value)"
                            class="btn btn-sm btn-outline-primary" [disabled]="!isCreateButtonEnabled(newNameInput.value)"
                            [class.disabled]="!isCreateButtonEnabled(newNameInput.value)">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;{{'createModel' | translate}}
                        </button>
                    </div>
                </div>
                <div class="form-control-feedback">
                    <span [hidden]="validPattern(newNameInput.value)" class="form-text">{{errorMessage}}</span>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-sm">
                    <input type="text" #pasteNameInput (keyup)="0" class="form-control form-control-sm" [placeholder]="clipboardModelName" [disabled]="!canPaste" />
                    <div class="input-group-append">
                        <button id="requirement-paste-button" title="{{'paste' | translate}}" (click)="paste(pasteNameInput.value)" class="btn btn-sm btn-outline-primary"
                            [disabled]="!canPaste || !validPattern(pasteNameInput.value)"
                            [class.disabled]="!canPaste || !validPattern(pasteNameInput.value)">
                            <i class="fa fa-paste" aria-hidden="true"></i>&nbsp;{{'paste' | translate}}
                        </button>
                    </div>
                </div>
                <div class="form-control-feedback">
                    <span [hidden]="validPattern(pasteNameInput.value)" class="form-text">{{errorMessage}}</span>
                </div>
            </div>
        </div>
    </div>
</div>