<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="specmate-migration-test"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name="specmate-migration-test.jar">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated baseline -->
      <package
            uri="http://specmate.com/0/testmodel/base"
            class="com.specmate.migration.test.baseline.testmodel.base.BasePackage"
            genModel="models/baseline.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated baseline -->
      <package
            uri="http://specmate.com/0/testmodel/artefact"
            class="com.specmate.migration.test.baseline.testmodel.artefact.ArtefactPackage"
            genModel="models/baseline.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attributeadded -->
      <package
            uri="http://specmate.com/1/testmodel/base"
            class="com.specmate.migration.test.attributeadded.testmodel.base.BasePackage"
            genModel="models/attributeadded.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated attributeadded -->
      <package
            uri="http://specmate.com/1/testmodel/artefact"
            class="com.specmate.migration.test.attributeadded.testmodel.artefact.ArtefactPackage"
            genModel="models/attributeadded.genmodel"/>
   </extension>
</plugin>
