<div *ngIf="folder && contents">
    <div *ngIf="showFolderProperties">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">{{'GeneralInformation' | translate}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="data-item-title">{{'Name' | translate}}:</span>&nbsp;{{folder.name}}</li>
                        <li class="list-group-item"><span class="data-item-title">{{'Description' | translate}}:</span>&nbsp;{{folder.description}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [class.second]="showFolderProperties">
        <div class="col-12">
            <folder-container [parent]="folder"></folder-container>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <ceg-model-container [parent]="folder"></ceg-model-container>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <process-model-container [parent]="folder"></process-model-container>
        </div>
    </div>
</div>
