<form *ngIf="isEnabled && connected" class="form-inline">
    <div class="btn btn-primary btn-sm" [ngClass]="{'disabled': !isSaveEnabled}" (click)="save()"><i class="fa fa-save" aria-hidden="true"></i></div>&nbsp;
    <div class="btn btn-warning btn-sm" [ngClass]="{'disabled': !isUndoEnabled}" (click)="undo()"><i class="fa fa-undo" aria-hidden="true"></i></div>&nbsp;
    <div class="btn btn-danger btn-sm" (click)="close()"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></div>&nbsp;
</form>
<div *ngIf="!connected" class="btn btn-outline-danger btn-sm"><i aria-hidden="true" class="fa fa-exclamation-triangle"></i>&nbsp;Connection to Specmate server lost!</div>
