element-tree {
    white-space: nowrap;
}

li {
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
}

i {
    width: 18px;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul {
    padding: 0 0 0 16px;
}