<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" aria-expanded="false" aria-controls="specmate-navbar" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/index.html">
        <img src="/assets/specmate_logo_horizontal.png" height="30" class="d-inline-block align-top" alt="Specmate Logo">
    </a>

    <div class="collapse navbar-collapse" id="specmate-navbar">
        <common-controls></common-controls>
    </div>
    <span class="navbar-text">
        Version:&nbsp;{{version}}&nbsp;
    </span>
    <span class="navbar-text">
        <operation-monitor></operation-monitor>
    </span>
</nav>