<navigation-bar></navigation-bar>
<div class="specmate-container">
    <split direction="vertical" [gutterSize]="7">
        <split-area [size]="90" class="project-explorer-container">
            <split direction="horizontal" [gutterSize]="7">
                <split-area [size]="20" class="project-explorer-container">
                    <project-explorer></project-explorer>
                </split-area>
                <split-area [size]="80" class="content-container">
                    <router-outlet></router-outlet>
                </split-area>
            </split>
        </split-area>
        <split-area [size]="10" class="content-container">
            <log-list></log-list>
        </split-area>
    </split>
</div>
<ng-template ngbModalContainer></ng-template>