<ng-container *ngIf="testStep" [formGroup]="formGroup">
    <td>
        <span class="text-muted"><i class="fa fa-bars" aria-hidden="true"></i></span>
    </td>
    <td>{{getPosition(testStep)}}</td>
    <td>
        <div class="input-group input-group-sm">
            <input formControlName="description" type="text" class="form-control" />
        </div>
    </td>
    <td>
        <div class="input-group input-group-sm">
            <input formControlName="expectedOutcome" type="text" class="form-control" />
        </div>
    </td>
    <td>
        <div class="input-group input-group-sm">
            <select [(ngModel)]="selectedTestParameter" [ngModelOptions]="{standalone: true}" class="form-control">
                <option [ngValue]="undefined"></option>
                <option *ngFor="let parameter of testParameters" [ngValue]="parameter">{{parameter.name}}</option>
            </select>
        </div>
    </td>
    <td>
        <div class="input-group input-group-sm">
            <button title="{{'delete' | translate}}" (click)="delete()" class="btn btn-outline-danger"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
        </div>
    </td>
</ng-container>