<form [formGroup]="formGroup">
    <ul class="list-group list-group-flush">
        <li *ngFor="let item of this.meta" class="list-group-item">
            <div form-text-input *ngIf="item.type === 'text'" [meta]="item" [form]="formGroup" style="width:100%;"> </div>
            <div form-long-text-input *ngIf="item.type === 'longText'" [meta]="item" [form]="formGroup" style="width:100%;"> </div>
            <div form-checkbox-input *ngIf="item.type === 'checkbox'" [meta]="item" [form]="formGroup" style="width:100%;"> </div>
            <div form-single-selection-input *ngIf="item.type === 'singleSelection'" [meta]="item" [form]="formGroup" style="width:100%;"> </div>
        </li>
    </ul>
</form>