<div class="row">
    <div class="col-8">
        <generic-form [element]="model"></generic-form>
    </div>

    <div class="col-4">
        <div *ngIf="requirement" class="card">
            <h5 class="card-header">Links &amp; Actions</h5>
            <ul class="list-group list-group-flush">
                <li *ngIf="requirement" class="list-group-item"><span class="data-item-title">Requirement:</span>&nbsp;<a [navigationTarget]="requirement">{{requirement.extId}}: {{requirement.name}}</a></li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="data-item-title" style="width: 100%">Test Specifications:</span>
                    <ul>
                        <li *ngFor="let testSpec of testSpecifications">
                            <a [navigationTarget]="testSpec">{{testSpec.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="card-block">
                <button [ngClass]="{'disabled': !canCreateTestSpecification(model)}" title="Generate test specification" (click)="generateTestSpecification(model)" class="btn btn-sm btn-outline-primary"><i class="fa fa-indent" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<ceg-editor *ngIf="model" [model]="model" [contents]="contents"></ceg-editor>

<div *ngIf="!model ">
    Loading model...
</div>