<div *ngIf="modelHistoryEntries" class="card">
  <h5 class="card-header">{{'Changes' | translate}}</h5>
  <ul class="list-group list-group-flush">
    <li *ngFor="let entry of modelHistoryEntries" class="list-group-item">
      <span class="data-item-title">{{entry.user}}</span>&nbsp;<small class="text-muted">{{entry.date.toLocaleString()}}</small>
        <ul>
            <li *ngFor="let change of entry.changes" class="list-unstyled">
              <div *ngIf="change.isDelete">
                {{'ElementDeleted' | translate}}
              </div>
              <div *ngIf="!(change.isCreate && change.isDelete)">
                {{'Changed' | translate}} <span class="data-item-title">{{change.feature}}</span>&nbsp;<span class="fa fa-arrow-right" aria-hidden="true">&nbsp;{{change.newValue}}</span>
              </div>
            </li>
        </ul>
    </li>
  </ul>
</div>
