.inner {
    stroke: #000;
    stroke-width: 2;
}

.innerSelected {
    stroke: #f00;
}

.outer {
    stroke-width: 10;
    stroke: rgba(0, 0, 0, 0);
}

.outerSelected {
    stroke: rgba(255, 0, 0, 0.5);
}

.warning {
    font-family: FontAwesome;
    fill: #d9534f;
}

.text {
    text-anchor: middle;
    font-family: 'Roboto Mono', monospace
}