<div *ngIf="enabled" ngbDropdown #dropdownRef="ngbDropdown" class="d-inline-block" (openChange)="dropdownChange($event);" title="{{'chooseLanguage' | translate}}>
    <button class="btn btn-sm btn-secondary" id="languageDropDown" ngbDropdownToggle>
        <span class="fa fa-language"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="languageDropDown">
        <button *ngFor="let otherLanguage of otherLanguages; let i = index" (click)="$event.stopPropagation(); language = otherLanguage; dropdownRef.close();" (focus)="setSelectionIndex(i)" (mouseenter)="setSelectionIndex(i)" class="dropdown-item {{i == selectionIndex ? 'active': ''}}">
            <span class="flag-icon flag-icon-{{otherLanguage}}"></span>&nbsp;{{getLanguageName(otherLanguage)}}
        </button>
    </div>
</div>