/** This removes Internet Explorers "Clear Field"-Button, which is rendered below the text sometimes. **/

input[type=text]::-ms-clear {
    display: none;
}

button,
.btn {
    cursor: pointer;
}

a:focus,
a:hover,
a.selected {
    color: #00ab38;
}

.line-breaks-visible {
    white-space: pre-wrap;
}

.second {
    margin-top: 1rem;
}

.data-item-title {
    font-weight: bold;
}

.project-explorer {
    background: #fff;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
}

.content-container {
    padding: 10px;
}

.project-explorer-container {
    overflow-x: auto!important;
}

.specmate-container {
    height: calc(100vh - 58px);
    margin-top: 58px;
}

.dnd-sortable-drag {
    opacity: 0.75;
    transform: translateX(10px);
    transition: 0.15s;
}

.maximized {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    right: 0;
    width: 100%;
    background: #666;
    padding: 0;
    max-width: 100%;
    height: 100%;
}

.maximized .card {
    height: 100%;
}

.no-bottom-margin {
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .specmate-container {
        height: calc(100vh - 133px);
        margin-top: 133px;
    }
}