/** This removes Internet Explorers "Clear Field"-Button, which is rendered below the text sometimes. **/

input[type=text]::-ms-clear {
    display: none;
}

button,
.btn {
    cursor: pointer;
}

a:focus,
a:hover,
a.selected {
    color: #00ab38;
}

.line-breaks-visible {
    white-space: pre-wrap;
}

.second {
    margin-top: 1rem;
}

.data-item-title {
    font-weight: bold;
}

.project-explorer {
    background: #fff;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1;
}

.content-container {
    padding: 10px;
}

.specmate-container {
    height: calc(100vh - 58px);
    margin-top: 58px;
}

@media screen and (max-width: 991px) {
    .specmate-container {
        height: calc(100vh - 133px);
        margin-top: 133px;
    }
}