<div class="card">
    <h5 class="card-header">
        {{'LinksandActions' | translate}}
    <button id="linksactions-expand-button" type="button" class="btn btn-sm btn-secondary pull-right" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i *ngIf="isCollapsed" class="fa fa-angle-double-down"></i><i *ngIf="!isCollapsed" class="fa fa-angle-double-up"></i></button>
    </h5>
    <ul class="list-group list-group-flush" *ngIf="!isCollapsed">
        <li *ngIf="requirement" class="list-group-item"><span class="data-item-title">{{'Requirement' | translate}}:</span>&nbsp;<a [navigationTarget]="requirement">{{requirement.extId}}: {{requirement.name}}</a></li>
        <li *ngIf="requirement" class="list-group-item"><span class="data-item-title">{{'RequirementDescription' | translate}}:</span>&nbsp;<a (click)="toggleDescription()" id="linksactions-extenddescription-button" class="pointer">{{requirementDescription}}&nbsp;<i class="{{'fa fa-' + descriptionCollapsibleLabel}}" aria-hidden="true"></i></a></li>
        <li *ngIf="model" class="list-group-item"><span class="data-item-title">{{'Model' | translate}}:</span>&nbsp;<a [navigationTarget]="model">{{model.name}}</a></li>
        <li *ngIf="testSpecification" class="list-group-item"><span class="data-item-title">{{'TestSpecification' | translate}}:</span>&nbsp;<a [navigationTarget]="testSpecification">{{testSpecification.name}}</a></li>
        <ng-container *ngIf="canHaveTestSpecifications" class="list-group list-group-flush">
            <li class="list-group-item"><span class="data-item-title" style="width: 100%">{{'TestSpecifications' | translate}}:</span>
                <span *ngIf="!testSpecifications || testSpecifications.length === 0" class="text-muted" style="width: 100%">{{'noTestSpecificationsFound' | translate}}.</span>
                <ul *ngIf="testSpecifications && testSpecifications.length > 0">
                    <li *ngFor="let testSpec of testSpecifications">
                        <a [navigationTarget]="testSpec">{{testSpec.name}}</a>
                    </li>
                </ul>
            </li>
        </ng-container>
        <li *ngIf="canGenerateCEGModel"  class="list-group-item">
            <ceg-model-generator-button [model]="element" [requirement]="requirement"></ceg-model-generator-button>
        </li>
        <li *ngIf="canGenerateTestSpecifications" class="list-group-item">
            <test-specification-generator-button [model]="element"></test-specification-generator-button>
        </li>
        <li *ngIf="canExportTestprocedure" class="list-group-item">
            <export-testprocedure-button [testProcedure]="element"></export-testprocedure-button>
        </li>
        <li *ngIf="canExportTestspecification" class="list-group-item">
            {{'exportTestspecification' | translate}}:<br/>
            <ul>
                <li>
                    <get-test-specification-skeleton-button [testspecification]="element" language="CSV"></get-test-specification-skeleton-button>
                </li>
                <li>
                    <get-test-specification-skeleton-button [testspecification]="element" language="Java"></get-test-specification-skeleton-button>
                </li>
                <li>
                    <get-test-specification-skeleton-button [testspecification]="element" language="Javascript"></get-test-specification-skeleton-button>
                </li>
            </ul>
        </li>
    </ul>
</div>
