<div *ngIf="requirement" class="card">
    <h5 class="card-header">{{'LinksandActions' | translate}}</h5>
    <ul class="list-group list-group-flush">
        <li *ngIf="requirement" class="list-group-item"><span class="data-item-title">{{'Requirement' | translate}}:</span>&nbsp;<a [navigationTarget]="requirement">{{requirement.extId}}: {{requirement.name}}</a></li>
        <li *ngIf="model" class="list-group-item"><span class="data-item-title">{{'Model' | translate}}:</span>&nbsp;<a [navigationTarget]="model">{{model.name}}</a></li>
        <li *ngIf="testSpecification" class="list-group-item"><span class="data-item-title">{{'TestSpecification' | translate}}:</span>&nbsp;<a [navigationTarget]="testSpecification">{{testSpecification.name}}</a></li>
        <ng-container *ngIf="canHaveTestSpecifications" class="list-group list-group-flush">
            <li class="list-group-item"><span class="data-item-title" style="width: 100%">{{'TestSpecifications' | translate}}:</span>
                <small *ngIf="!testSpecifications || testSpecifications.length === 0" class="text-muted" style="width: 100%">{{'noTestSpecificationsFound' | translate}}.</small>
                <ul *ngIf="testSpecifications && testSpecifications.length > 0">
                    <li *ngFor="let testSpec of testSpecifications">
                        <a [navigationTarget]="testSpec">{{testSpec.name}}</a>
                    </li>
                </ul>
            </li>
        </ng-container>
    </ul>
    <div *ngIf="canGenerateTestSpecifications" class="card-body">
        <test-specification-generator-button [model]="element"></test-specification-generator-button>
    </div>
    <div *ngIf="canExportToALM" class="card-body">
        <export-to-alm-button [testProcedure]="element"></export-to-alm-button>
    </div>
</div>