<div *ngIf="selectedElement" class="card">
    <h5 class="card-header">{{'Properties' | translate}}</h5>
    <generic-form [element]="selectedElement" [hiddenFields]="hiddenFields"></generic-form>
</div>
<div *ngIf="!selectedElement" class="card">
    <div class="card-block">
        <p class="card-text">{{'noElementSelected' | translate}}.</p>
    </div>
</div>
<div *ngIf="showTracing" class="card">
    <h5 class="card-header">{{'Traces' | translate}}</h5>
    <div  class="card-block">
        <tracing-links [model]="selectedElement"></tracing-links>
    </div>
</div>