<div *ngIf="selectedElement" class="card">
    <h5 class="card-header">
        {{'Properties' | translate}}
        <div class="input-group input-group-sm">
            <button id="properties-expand-button" type="button" class="btn btn-secondary pull-right" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><i *ngIf="isCollapsed" class="fa fa-angle-double-down"></i><i
                    *ngIf="!isCollapsed" class="fa fa-angle-double-up"></i></button>
        </div>
    </h5>
    <generic-form [ngbCollapse]="isCollapsed" [element]="selectedElement" [hiddenFields]="hiddenFields"></generic-form>
</div>
<div *ngIf="!selectedElement" class="card">
    <div class="card-body">
        <p class="card-text">{{'noElementSelected' | translate}}.</p>
    </div>
</div>