.editor {
    overflow: scroll;
}

.editor > svg {
    background-color: #999;
}

.loading-indicator {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #777;
}
