<div *ngIf="process">
    <div class="row second">
        <div class="col-8">
            <generic-form [element]="process"></generic-form>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Links</h5>
            </div>
        </div>
    </div>
    <div class="row second">
        <div class="col-12">
            <graphical-editor *ngIf="process" [model]="process" [contents]="contents"></graphical-editor>
        </div>
    </div>
</div>