.innerSelected {
    fill: #0275d8;
}

.innerDeselected {
    fill: #000;
}

.outerSelected {
    stroke: #0275d8;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
}

.outerDeselected {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 2;
    stroke: #000
}